!!!
title CardSort-Test
meta(charset="utf-8")
link(href="CardSort.css", rel="stylesheet", type="text/css")
.zone.startzone
  .droparea
    .card.card1 Card A
    .card.card2 Card B
    .card.card3 Card C
    .card.card4 Card D
    .card.card5 Card E
    .card.card6 Card F
    .card.card7 Card G
    .card.card8 Card H
  .zonelabel
    |Start Zone

div(style="clear: both") //-remove comment if following zones should be in next line

.zone.dropzone1
  .droparea
  .zonelabel
    |sehr schlecht

.zone.dropzone2
  .droparea
  .zonelabel
    |schlecht

.zone.dropzone3
  .droparea
  .zonelabel
    |geht so

.zone.dropzone4
  .droparea
  .zonelabel
    |gut

.zone.dropzone5
  .droparea
  .zonelabel
    |sehr gut

include fieldset.html

script(src="../bower_components/jquery/jquery.js")
script(src="../bower_components/jquery-ui/ui/jquery.ui.core.js")
script(src="../bower_components/jquery-ui/ui/jquery.ui.widget.js")
script(src="../bower_components/jquery-ui/ui/jquery.ui.mouse.js")
script(src="../bower_components/jquery-ui/ui/jquery.ui.draggable.js")
script(src="../bower_components/jquery-ui/ui/jquery.ui.droppable.js")
script(src="../bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.js")
script(src="CardSort.js")
